@media print{
#banner1,#baner2,#titulo, #divmenu, #indice, #pie {
	display:none;
}
#fondo{
    width:680px;
	background-color: #FFFFFF;
	margin:auto;
}
#contenido{ 
	border-style:none;
	border-width:medium;
	border-color:#0066CC;
	text-align: center;
	width:100%;
}
#contenido_reporte{
    width:1000px;
	background-color: #ffffff;
	margin:auto;
	float:right;
	text-align:center;
	min-height: 300px;
}

#imprimir .texto{
	display:inline;
	width:720px; 
}

#bannereporte {
	text-align: center;
	display:inline;
}
}