<html>
	<head>
	<link rel="shortcut icon" href="./imagenes/favicon.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{$title|default:SS2526 C.A - Solutions Systems 2526, C.A}</title>
	<script type="text/javascript" src="./js/highlight.js"></script>
	<script type="text/javascript" src="./js/domtableenhance/domtableenhance.js"></script>
	<script type="text/javascript" src="../libreriasphp/FH3/FHTML/overlib/overlib.js"></script>
	<link rel="stylesheet" type="text/css" href="./estilo/layout.css"/> 
	<link rel="stylesheet" type="text/css" href="./estilo/layoutprint.css" media="print"/>
	</head>
	<body background="./imagenes/fondoazul.jpg" topmargin="0" leftmargin="0"> 
		<div id="fondo">
			<div id="banner"><img src="./imagenes/banner.png" width="1050" height="100"/></div><!-- banner1-->
			<div id="titulo">Sistema Administrativo de SS2526 C.A v1.2  {if $smarty.session.usuario}[Usuario: {$smarty.session.usuario.nombre} {$smarty.session.usuario.apellido}]{/if}</div><!-- titulo -->		
			<div id="contenido_sinmenu">
<!-- Contenido -->
