{include file="cabecera.html" title="SS2526 - Consultas de Articulos"}

<h4>BUSQUEDA DE ARTICULOS</h4>
<p>Escriba en el cuadro texto para hacer una busqueda completa</p>

{$f1}

{if $datos}
<h4>Articulos Solicitados</h4>
<div id="resultados">
<table class="enhancedtable" border="0" cellspacing="3" cellpadding="3" width="100%">
<thead>
	<tr> 
		<th>Descripción</th>
		<th>Marca</th>
		<th>Modelo</th>
		<th>Tipo</th>
		<th>&nbsp;</th>
	</tr>
</thead>
<tbody>
	{section name=p loop=$datos}
	<tr>
		<td>{$datos[p].descripcion}</td>
		<td>{$datos[p].marca}</td>
		<td>{$datos[p].modelo}</td>
		<td>{$datos[p].tipo_id}</td>
		<td><a href="modificar_articulos.php?id={$datos[p].id}"><img onmouseover='overlib("<strong>Modificar</strong>",WIDTH, 70)' src="./imagenes/boton1.png" onmouseout='return nd();'/></a></td>
	</tr>{/section}
</tbody>
</table>
</div>
{else}
	{if $error1 eq 2} 
		<h3>NO SE ENCONTRÓ ARTICULOS CON ESOS PARAMETROS, VERIFIQUE...</h3>
	{else}
		{if $error1 eq 1} 
			<h3>NO SE ENCONTRÓ PERSONAL CUYO APELLIDO COMIENZA POR ESA LETRA, VERIFIQUE...</h3>
		{/if}
	{/if}
{/if}
{include file="pie.html"}