{include file="cabecera.html" title="SS2526 - Eliminar Proveedores"}

<h3>ATENCIÓN</h3>
<p>Usted esta a punto de Eliminar a:</p>
<table class = "retiro" align = "center" border="1">
	<tr>
		<th>Rif</th>
		<td>{$ficha.rif}</td>
	</tr>
	<tr>
		<th>Razón Social</th>
		<td>{$ficha.razon_social}</td>
	</tr>
	<tr>
		<th>Dirección</th>
		<td>{$ficha.direccion}</td>
	</tr>
	{if $ficha.telf_fijo}
	<tr>
		<th>Telefono Fijo</th>
		<td>{$ficha.telf_fijo}</td>
	</tr>
	{/if}
	{if $ficha.fax}
	<tr>
		<th>Fax</th>
		<td>{$ficha.fax}</td>
	</tr>
	{/if}
	{if $ficha.correo}
	<tr>
		<th>Correo Electronico</th>
		<td>{$ficha.correo}</td>
	</tr>
	{/if}
	{if $ficha.persona_contacto}
	<tr>
		<th>Persona Contacto</th>
		<td>{$ficha.persona_contacto}</td>
	</tr>
	{/if}
</table>
<hr />
<p>¿Esta seguro de que desea hacerlo?</p>
<hr />	
<div align="left"><a href="consmod_proveedores.php">No, no lo retire</a></div>
<hr />
<div align="right"><a href="eliminar_proveedores2.php?id={$ficha.id}">Si, eliminelo</a></div>
<hr />
{include file="pie.html"}